$colorHeader:rgb(218, 204, 82);
$colorHeaderSup:rgb(218, 204, 82);
$colorHeaderInferior:rgb(218, 204, 82);
$colorSubmenu:rgb(242, 239, 217);
$colorHeaderFuente:rgb(0, 0, 0);
$colorHover:rgb(236, 236, 213);
$colorBoxShadow:rgba(251, 228, 228, 0.5);
$colorHeaderSVG: rgba(101, 51, 25, 255);

.logo:hover {
    transform: scale(1);
    transition-property: all;
    transition-duration: 1.5s;
    border-radius: .2rem;
    background-color: rgb(236, 236, 213);
    box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
}

/* Class activa la ubicacion en donde estamos en la botonera del header y el sub menu */

.active {
    transform: scale(1);
    opacity: 0.6;
    pointer-events: none;
    background-color: $colorSubmenu;
    color: rgb(3, 3, 3);
    box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
    border-radius: .2rem;
}

//Estilos Header

header {
    width: 100%;
    height: 17vh;
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    background: $colorHeader;

    .headerSuperior {
        max-width: 115rem;
        height: 6rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-bottom: .3rem solid #f0f0f0;

        .logo {
            width: fit-content;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-around;
            flex-wrap: wrap;

            img {
                width: 4rem;
                height: 4rem;
            }
        }

        .headerSupIcons {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0px 0px;
            gap: 1rem;
            font-size: 2rem;

            li {

                a {
                    transform: scale(1.1);
                    transition-property: all;
                    transition-duration: 1.5s;
                    border-radius: .2rem;
                    background-color: $colorHeaderSup;

                    i {
                        color: $colorHeaderSVG;
                        padding: .1px .4rem;
                        display: flex;
                        align-items: center;
                        align-content: center;
                    }
                }
            }
        }

    }

    /*BARRA MENU*/

    .containerMenu {
        //display: flex;
        width: 100%;
        height: 4.68rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: $colorHeaderInferior;
        padding: .4rem 1.25rem;

        .menu {
            display: flex;
            max-width: 1200px;
            margin: auto;
            height: 100%;

            nav {
                height: 100%;

                ul {
                    height: 100%;
                    display: flex;

                    li {
                        height: 100%;
                        list-style: none;
                        position: relative;

                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            padding: 14px;
                            color: colorHeaderFuente;
                            text-transform: uppercase;
                            font-size: 14px;
            
                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }


        }

    }

}

