@charset "UTF-8";
/* Variables Generales */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  background-color: #eef5ee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto auto;
      grid-template-rows: 1fr auto auto;
      grid-template-areas: "header" "main" "footer";
}

/*ELEMENTOS RESPONSIVOS*/
.icon__menu {
  font-size: 26px;
  color: black;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#label__check {
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu {
  display: none;
}

/* --------------------------------------------------------- */
@media (max-width: 576px) {
  #infoParrafo {
    text-align: center;
  }
  .headerSupIcons {
    font-size: 1rem;
  }
  .headerSuperior {
    padding: 10px;
  }
  .logo img {
    width: 4rem;
    height: 4rem;
  }
  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #dacc52;
    position: fixed;
    left: 0;
    top: 158px;
    width: 100%;
    height: 0px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
  #label__check {
    display: block;
  }
  .icon__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #check__menu:checked ~ nav > ul {
    height: 400px;
    visibility: visible;
    opacity: 1;
  }
  main {
    margin-top: 100px;
  }
  .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img1";
  }
  .atraccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0rem;
  }
  .encabezado {
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .lightBox {
    display: none;
  }
  .divSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: .5rem;
  }
  .headerSupIcons {
    font-size: 1rem;
  }
  .logoHeaderSup {
    width: 2rem;
    height: 2rem;
  }
  span {
    font-size: 1rem;
  }
  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #dacc52;
    position: fixed;
    left: 0;
    top: 158px;
    width: 100%;
    height: 0px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
  #label__check {
    display: block;
  }
  .icon__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #check__menu:checked ~ nav > ul {
    height: 400px;
    visibility: visible;
    opacity: 1;
  }
  .main {
    font-size: .9rem;
  }
  .divSection {
    display: none !important;
  }
  .divSectionSmall {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .divSection {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .divSectionSmall {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img1";
  }
  .atraccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0rem;
  }
  .encabezado {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .grupoHabitacionesSmall {
    display: none;
  }
}

@media (max-width: 1200px) {
  span {
    font-size: .7rem;
  }
}

@media (min-width: 1200px) {
  span {
    font-size: 1rem;
  }
}

.logo:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  border-radius: .2rem;
  background-color: #ececd5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
}

/* Class activa la ubicacion en donde estamos en la botonera del header y el sub menu */
.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.6;
  pointer-events: none;
  background-color: #f2efd9;
  color: #030303;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
  border-radius: .2rem;
}

header {
  width: 100%;
  height: 17vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background: #dacc52;
  /*BARRA MENU*/
}

header .headerSuperior {
  max-width: 115rem;
  height: 6rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: .3rem solid #f0f0f0;
}

header .headerSuperior .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .headerSuperior .logo img {
  width: 4rem;
  height: 4rem;
}

header .headerSuperior .headerSupIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px;
  gap: 1rem;
  font-size: 2rem;
}

header .headerSuperior .headerSupIcons li a {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  border-radius: .2rem;
  background-color: #dacc52;
}

header .headerSuperior .headerSupIcons li a i {
  color: #653319;
  padding: .1px .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .containerMenu {
  width: 100%;
  height: 4.68rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #dacc52;
  padding: .4rem 1.25rem;
}

header .containerMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

header .containerMenu .menu nav {
  height: 100%;
}

header .containerMenu .menu nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .containerMenu .menu nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

header .containerMenu .menu nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  color: colorHeaderFuente;
  text-transform: uppercase;
  font-size: 14px;
}

header .containerMenu .menu nav ul li a img {
  width: 1.5rem;
  height: 1.5rem;
}

/*Main Index HTML LA POSADA*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #ececd5;
  padding: 2rem .1rem;
  margin-top: 10rem;
}

#sectionPosada {
  width: 100%;
  height: 35rem;
  color: #f8efef;
  background-image: url(../assets/img/posada_de_campo_los_aromitos_paisaje_tormenta.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#sectionPosada hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#sectionPosada hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

#sectionInfo {
  width: 100%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 2rem 2rem;
  background-color: #ececd5;
}

#sectionInfo #infoH2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #550b51;
  padding-bottom: .5rem;
}

#sectionInfo #infoParrafo {
  color: #550b51;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0rem 10rem;
}

/* Main Nostros*/
#nosotros {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/prueva1.jpeg);
  background-size: cover;
  background-position: bottom;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#nosotros hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#nosotros hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.informacion {
  width: 100%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 2rem 2rem;
  background-color: #ececd5;
}

.informacion #NostH2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #550b51;
  padding-bottom: .5rem;
}

.informacion #NostParrafo {
  color: #550b51;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0rem 10rem;
}

.aux {
  border-top: solid #dacc52 0.2rem;
  border-bottom: solid black .2rem;
}

/* MAIN Habitaciones Estilos que no comparte con el INDEX */
#infoHabitacion {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/prueba3.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
  margin-bottom: .5rem;
}

#infoHabitacion hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#infoHabitacion hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.grupHabitaciones {
  background-color: #ececd5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "habitaciones0" "habitaciones1" "habitaciones2" "habitaciones3";
  row-gap: row;
  margin: 1rem 0rem;
}

.divSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 35rem;
  width: 100%;
}

.divSection .imgHeaderDemo {
  height: auto;
  width: 50%;
}

.divSection .imgHeaderDemo a {
  height: 35rem;
  width: 100%;
}

.divSection .imgHeaderDemo a .contImg {
  height: 35rem;
  width: 100%;
}

.divSection .imgHeaderDemo a .contImg img {
  display: block;
  height: 100%;
  width: 100%;
}

.divSection .descripcionAuxDemo {
  padding: 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 50%;
  text-align: center;
}

.divSectionSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.divSectionSmall .imgHeaderDemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
}

.divSectionSmall .imgHeaderDemo a {
  width: 100%;
}

.divSectionSmall .imgHeaderDemo a .contImg {
  width: 100%;
}

.divSectionSmall .imgHeaderDemo a .contImg img {
  width: 100%;
}

.divSectionSmall .descripcionAuxDemoSmall {
  padding: 0rem .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

/* MAIN SERVICIOS Estilos que no comparte con el INDEX */
#headServicios {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/posada_de_campo_los_aromitos_huerta_productos_caceros.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#headServicios hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#headServicios hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.grupInformacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.grupInformacion h2 {
  margin: 0rem 0rem;
  font-size: 3rem;
}

.grupInformacion div .checklist {
  margin: 2rem 0rem;
}

.grupInformacion div .checklist h3 {
  font-size: 2rem;
}

.grupInformacion div .checklist p {
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

.listadoBonito {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem;
  border: solid #9b3f3f 0.1em;
  background-color: #dacc52;
}

.listadoBonito li {
  text-align: center;
  border: solid #9b3f3f 0.1em;
  padding: 1rem 1rem;
  background-color: #ececd5;
}

/*Main ALREDEDORES*/
.atracciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "atraccion1" "atraccion2" "atraccion3" "atraccion4" "atraccion5" "atraccion6";
  row-gap: row;
  margin: 1rem 0rem;
}

#headAlrededores {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/prueba5.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

#headAlrededores hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#headAlrededores hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

/* MAIN GALLERY Estilos que no comparte con el INDEX */
.h1Gallery {
  width: 100%;
  height: 6.25rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  font-size: 50px;
}

.galleryLinea {
  background: #000000;
  height: 0.375rem;
  width: 100%;
  display: block;
}

.sectionGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
}

.galleryClassA {
  display: block;
  -webkit-box-shadow: 0 0 8px rgba(10, 10, 10, 0.5);
          box-shadow: 0 0 8px rgba(10, 10, 10, 0.5);
}

.galleryClassA img {
  width: 100%;
  height: 18.75rem;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: transform .6s ease-in-out;
          transform: transform .6s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.lightBox img {
  width: 75vh;
  max-height: 70vh;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px #653319;
          box-shadow: 0 0 10px #653319;
}

.lightBox:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 80px;
  right: 80px;
  background: #653319;
  color: aliceblue;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: #653319;
  color: aliceblue;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

/* MAIN CONTACTO Estilos que no comparte con el INDEX */
#headContacto {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/posada_de_campo_huerta_invierno_remolacha_.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

#headContacto hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#headContacto hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.degradado {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a5c71), to(#063642));
  background: linear-gradient(to bottom, #0a5c71 0%, #063642 100%);
  background-color: #0a5c71;
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.formBoton {
  border: 1px solid #063642;
  border-radius: .3rem;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  color: #ffffff;
  padding: 0.2em 0.5em;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0.625rem 0.625rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkContainer {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: .5rem;
}

/*Footer*/
.footer {
  /* grid-area: 3/1/4/2; */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ececd5;
  position: static;
}

.footerNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.botonesFooterMenu {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  background-color: #dacc52;
}

.headerSupIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px;
  gap: 1rem;
  font-size: 2rem;
}

.headerSupIcons .liLogo .logo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  border-radius: .2rem;
  background-color: #dacc52;
}

.headerSupIcons .liLogo .logo i {
  color: #653319;
  padding: .1px .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.firma {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: solid 0.3rem #ececd5;
  background-color: #dacc52;
}
/*# sourceMappingURL=style.css.map */