@charset "UTF-8";
/* Variables Generales */
* {
  margin: 0;
  padding: 0;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

[data-title]:hover:after {
  opacity: 1;
  -webkit-transition: all 0.1s ease 0.5s;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-family: Raleway;
  position: absolute;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 3px #222222;
          box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  visibility: hidden;
  border-radius: 6px;
}

[data-title] {
  position: relative;
}

body {
  width: 100%;
  height: auto;
  background-color: #eef5ee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto auto;
      grid-template-rows: 1fr auto auto;
      grid-template-areas: "header" "main" "footer";
}

/* --------------------------------------------------------- */
/* @MEDIAS, para adaptar la WEB a modo MOBILE */
@media screen and (max-width: 920px) {
  .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img1";
  }
  .atraccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0rem;
  }
  .encabezado {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 730px) {
  .header {
    font-size: .8rem;
  }
  .main {
    font-size: .9rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: .5rem;
  }
  .logoHeaderSup {
    width: 2rem;
    height: 2rem;
  }
  .email {
    display: none;
  }
  .cellphone {
    display: none;
  }
  .search {
    display: none;
  }
  .logo span {
    display: none;
  }
  .main {
    font-size: .9rem;
  }
  #infoParrafo {
    text-align: center;
  }
  .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img1";
  }
  .habitaciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0rem;
  }
  .atraccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0rem;
  }
  .encabezado {
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .lightBox {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .logoHeaderSup {
    width: 2rem;
    height: 2rem;
  }
  .email {
    display: none;
  }
  .cellphone {
    display: none;
  }
  .search {
    display: none;
  }
  .logo span {
    display: none;
  }
  .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img1";
  }
  .habitaciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 6rem;
  }
  .atraccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0rem;
  }
  .encabezado {
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .lightBox {
    display: none;
  }
  /* .liLogo{
        display: none;
    } */
}

.header {
  width: 100%;
  height: 20vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ececd5;
}

.headerSup {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #050505;
  background-color: #dacc52;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: .5rem;
}

.logoHeaderSup {
  width: 3rem;
  height: 3rem;
  padding: 0rem 1.25rem;
  *display: -webkit-box;
  *display: -ms-flexbox;
  *display: flex;
  *-webkit-box-pack: start;
  *    -ms-flex-pack: start;
  *        justify-content: start;
}

/* .email {}

.cellphone {} */
.search input {
  background-color: #ffffff;
  color: black;
  border-radius: 0.313rem;
  border: 3px solid #111213;
  width: 12.5rem;
  padding: 0.625rem;
}

.headerSupIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 20px;
  gap: 2rem;
  color: #3f554e;
  font-size: 1.5rem;
}

.headerSupIcons img {
  padding: 0px 20px;
}

/* Header Inferior Barra Menu */
.headerNavMenu {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.botonesHeaderMenu {
  width: 100%;
  height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #dacc52;
  text-transform: uppercase;
}

.liLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  border-radius: .2rem;
  background-color: #ececd5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
}

/* Class activa la ubicacion en donde estamos en la botonera del header y el sub menu */
.active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
  pointer-events: none;
  background-color: #ececd5;
  color: #030303;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
  border-radius: .2rem;
}

.active0 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
  pointer-events: all;
  background-color: #ececd5;
  color: #030303;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.5);
  border-radius: .2rem;
}

/*Header Inferior Barra Menu--> SUBMENU de Galeria de Fotos  */
nav ul li ul {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(165, 48, 48, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(165, 48, 48, 0.5);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: .5rem;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a {
  display: block;
  color: #2f5252;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

nav ul li ul li a:hover {
  opacity: 2;
  background: #dacc52;
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*Main Index HTML LA POSADA*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  width: 100%;
  background-color: #f3ecec;
}

#sectionPosada {
  width: 100%;
  height: 35rem;
  color: #f8efef;
  background-image: url(../assets/img/posada_de_campo_los_aromitos_paisaje_tormenta.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#sectionPosada hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#sectionPosada hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

#sectionInfo {
  width: 100%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 2rem 2rem;
  background-color: #ececd5;
}

#sectionInfo #infoH2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #550b51;
  padding-bottom: .5rem;
}

#sectionInfo #infoParrafo {
  color: #550b51;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0rem 10rem;
}

/* Main Nostros*/
#nosotros {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/prueva1.jpeg);
  background-size: cover;
  background-position: bottom;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#nosotros hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#nosotros hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.informacion {
  width: 100%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 2rem 2rem;
  background-color: #ececd5;
}

.informacion #NostH2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #550b51;
  padding-bottom: .5rem;
}

.informacion #NostParrafo {
  color: #550b51;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0rem 10rem;
}

/* MAIN Habitaciones Estilos que no comparte con el INDEX */
#infoHabitacion {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/prueba3.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#infoHabitacion hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#infoHabitacion hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.grupHabitaciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "habitaciones1" "habitaciones2" "habitaciones3" "habitaciones4";
  row-gap: row;
}

.habitaciones {
  width: auto;
  height: 55vh;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ececd5;
}

.habitaciones img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px #1a1818;
          box-shadow: 0px 0px 10px #1a1818;
  border-radius: 1rem;
}

/* MAIN SERVICIOS Estilos que no comparte con el INDEX */
#headServicios {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/posada_de_campo_los_aromitos_huerta_productos_caceros.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#headServicios hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#headServicios hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.resaltado {
  background-color: aquamarine;
}

.resaltado .bloque-info {
  background: #666;
  color: #fff;
  padding: 0.2em 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  max-height: 0;
  overflow: hidden;
  margin-top: 0.2em;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.resaltado:hover .bloque-info {
  max-height: 400px;
  -webkit-transition: max-height ease-in-out 1s;
  transition: max-height ease-in-out 1s;
}

.grupInformacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 1.25rem;
  text-align: center;
  *-webkit-box-pack: center;
  *    -ms-flex-pack: center;
  *        justify-content: center;
  *-webkit-box-align: center;
  *    -ms-flex-align: center;
  *        align-items: center;
  *-ms-flex-line-pack: center;
  *    align-content: center;
}

.listadoBonito {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem;
  border: solid #9b3f3f 0.1em;
  background-color: #2196F3;
}

.listadoBonito li {
  text-align: center;
  border: solid #9b3f3f 0.1em;
  padding: 1rem 1rem;
  background-color: #fff;
}

/*Main ALREDEDORES*/
.atracciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "atracion1" "atracion2" "atracion3" "atracion4" "atracion5" "atracion6";
  row-gap: row;
}

#headAlrededores {
  width: 100%;
  height: 20rem;
  color: #f8efef;
  background-image: url(../assets/img/prueba5.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 1rem 2rem 2rem;
}

#headAlrededores hgroup h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#headAlrededores hgroup h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.atraccion {
  width: auto;
  height: 55vh;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ececd5;
}

.atraccion img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px #1a1818;
          box-shadow: 0px 0px 10px #1a1818;
  border-radius: 1rem;
}

#aux {
  padding-top: 3rem;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 1rem 1rem;
}

/* MAIN GALLERY Estilos que no comparte con el INDEX */
.h1Gallery {
  width: 100%;
  height: 6.25rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  font-size: 50px;
}

.galleryLinea {
  background: #000000;
  height: 0.375rem;
  width: 100%;
  display: block;
}

.sectionGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
}

.galleryClassA {
  display: block;
  -webkit-box-shadow: 0 0 8px rgba(221, 6, 6, 0.5);
          box-shadow: 0 0 8px rgba(221, 6, 6, 0.5);
}

.galleryClassA img {
  width: 100%;
  height: 18.75rem;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: transform .6s ease-in-out;
          transform: transform .6s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.lightBox img {
  width: 75vh;
  max-height: 70vh;
}

.lightBox:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #550b51;
  color: aliceblue;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: #550b51;
  color: aliceblue;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

/* MAIN CONTACTO Estilos que no comparte con el INDEX */
.degradado {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a5c71), to(#063642));
  background: linear-gradient(to bottom, #0a5c71 0%, #063642 100%);
  background-color: #0a5c71;
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-left: 0rem;
}

.formBoton {
  border: 1px solid #063642;
  border-radius: .3rem;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  color: #ffffff;
  padding: 0.2em 0.5em;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0.625rem 0.625rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkContainer {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: .5rem;
}

/*Footer*/
.footer {
  /* grid-area: 3/1/4/2; */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ececd5;
}

.footerNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.botonesFooterMenu {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  background-color: #dacc52;
}

.firma {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: solid 0.5rem #ececd5;
  background-color: #dacc52;
}

/* ------------------------------------------------------------------------------ */
.tilt-in-fwd-bl {
  -webkit-animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-bl 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-31 18:12:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.shadow-pop-tr {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-4 19:14:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #a56d6d, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #844040, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
.demoExtend, .cards {
  border: 2px solid red;
  background-color: gold;
}

.cards {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px #1a1818;
          box-shadow: 0px 0px 10px #1a1818;
  border-radius: 1rem;
}

/*mixin*/
.my_mixin {
  height: 20rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5e8be;
}
/*# sourceMappingURL=style.css.map */